<header class="navbar navbar-full navbar-fixed-top navbar-light bg-faded">
    {% assign custom_url = site.url | append: site.baseurl %}
    {% assign full_base_url = site.github.url | default: custom_url %}
    <div class="container">

      <nav>

        <a class="navbar-brand" href="{{custom_url}}">{{site.title}}</a>

        <ul class="nav navbar-nav pull-xs-right">

          {% for node in site.pages %}

            <li class="nav-item">
              <a class="nav-link" href="{{node.url}}">{{node.title}}</a>
            </li>

          {% endfor %}

        </ul>

      </nav>

    </div>

</header>
